dj-database-url==0.5.0
dj-static==0.0.6
django>=2.2.2
django-bootstrap-form==3.4
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
gunicorn==19.9.0
Pillow==6.0.0
python-decouple==3.1
pytz==2018.9
sqlparse==0.3.0
static3==0.7.0
django-allauth

