{% extends 'base.html' %}
{% load bootstrap %}


{% block title %} Criando uma conta na aplicação {% endblock %}

{% block main %}

    <h1>Registrar novo Usuário</h1>
    <br>
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ form|bootstrap }}-->
<!--        <button type="submit" class="btn btn-info">Registrar</button>-->
<!--    </form>-->

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'book_comment' %}
                {{ field.label }}
            {% endif %}
                {{ field }}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-info">Registrar</button>
    </form>

    <br>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

<!--    <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--        {% for field in form %}-->
<!--            {{ field.label_tag }}-->
<!--            {{ field }}-->
<!--        {% endfor %}-->
<!--        <br>-->
<!--        <input type="submit" class="btn btn-info" value="Cadastro de Usuário">-->
<!--    </form>-->

{% endblock %}
