{% extends 'base.html' %}

{% block main %}
    <h1>Listagem de clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Numero</th>
                <th>Desconto</th>
                <th>Valor</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td>{{ venda.numero }}</td>
                <td>{{ venda.desconto }}</td>
                <td>{{ venda.valor }}</td>
                <td><a href="{% url 'edit_pedido' venda.id %}">Editar</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <!-- /.table -->
{% endblock %}

{% block extra %}
{% endblock %}