{% extends 'base.html' %}
{% load filters %}

{% block title %} Seja bem vindo {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <form class="form-inline" method="GET" action="{% url 'search_person' %}">
               <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Digite o sobrenome">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <h3>Listagem de clientes</h3>
            <br>
             <ul class="list-group">
                 {% for person in persons %}
                <li class="list-group-item">
                    <a href="{% url 'person_update' person.id %}">{{ person.nome_completo|title}}</a>
                    <a href="{% url 'person_delete' person.id %}" class="trash_icon"><i class="fas fa-trash"></i></a>
                </li>
<!--                 Caso a list esteja vazia-->
                 {% empty %}
                    <li>Desculpe, não tem clientes cadastrados.</li>
            {% endfor %}
            </ul>
            <br>
            <a href="{% url 'person_new' %}" class="btn btn-primary">Novo cliente</a>

        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Olá <span class="badge badge-primary">{{ user.username }}</span>
                    <a href="{% url 'meu_logout' %}"><span class="badge badge-dark">Sair</span></a>
                     <a href="{% url 'password_change' %}"><span class="badge badge-dark">Alterar Senha</span></a>
                </p>
            {% endif %}
        </div>
    </div>

<hr>
<!--{% if persons|length > 2 %}-->
<!--    Voce tem mais que 2 clientes-->
<!--{% endif %}-->
<!--{{ footer_menssage|meu_filtro }}-->
<!--{{ 123.45678|arredonda:2 }}-->
{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}